html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #2196f3;
}

.clearfix
{
    clear: both;
}

header
{
    height: 10%;
    min-height: 75px;
    margin-bottom: 25px;

    text-align: center;
}


header .pwr_btn
{
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 50%;

    width: 75px;
    height: 75px;

    cursor: pointer;
    transition: all .1s ease-in-out;
    text-align: center;

    color: white;
    border-radius: 100px;
}

header .pwr_btn .material-icons
{
    margin-left: 7px;
}

header .tdl_title
{
    font-family: roboto;
    font-size: 35px;

    top: 10px;

    display: none;

    color: white;
}

.list_wrapper
{
    position: relative;

    height: 75vh;
    max-height: 75vh;
}

.to_do_list
{
    position: relative;

    overflow: auto;

    height: 100%;
}

.to_do_list .remove
{
    font-size: 18px;

    position: relative;

    padding-top: 5px;
    padding-bottom: 5px;
}


.check
{
    font-size: 3em;

    transition: all .1s ease-in-out;

    color: #558b2f;
    text-shadow: 1px 1px 2px  #212121;
}

.check:hover
{
    cursor: pointer;

    text-shadow: 0 0 0 #212121 ;
}

.clear_all
{
    position: relative;
    z-index: 0;
    right: 5px;
    bottom: 70px;

    display: none;
    float: right;

    width: 50px;
    height: 50px;

    border-radius: 100%;
}

.clear_all .clear_all_icon
{
    font-size: 35px;

    margin-top: 7px;
}

.btn_wrapper
{
    position: relative;
}

.add_btn
{
    position: absolute;
    top: 35px;

    width: 75px;
    height: 75px;

    cursor: pointer;
    transition: box-shadow .1s ease-in-out, width .5s ease-in-out;
    text-align: center;

    color: white;
    border-radius: 100px;
}

.add_btn.active
{
    width: 380px;
}

.add_btn .material-icons
{
    margin-left: 7.5px;
}

#tdl_input
{
    position: absolute;
    top: 45px;
    left: 40px;

    display: none;

    width: 320px;

    color: white;
}

.item_counter
{
    position: relative;
    top: 150px;
    left: 20px;

    display: none;
    float: left;

    width: auto;
    height: auto;

    color: white;
    border-radius: 10px;
    background-color: #00897b;
}

.item_counter_p
{
    padding: 5px 10px;
}

.item_counter_icon
{
    margin: 5px;
    padding-left: 5px;

    color: white;
    border-radius: 25%;
    background-color: #fb8c00;
}

footer
{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 90%;

    transition: all .5s ease-in-out;
}

footer.active
{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 5%;
    min-height: 45px;
}

footer .done
{
    position: relative;
    top: 5px;
    left: 90%;

    opacity: 0;
}
